<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.androideseo">
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.CAMERA"/>

    <application
        android:allowBackup="true"
        android:name="com.example.androideseo.ui.app.MyApp"
        android:icon="@mipmap/ic_launcher_foreground"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_foreground"
        android:usesCleartextTraffic="true"
        android:supportsRtl="true"
        android:theme="@style/Theme.AndroidESEO">

        <activity android:name=".ui.fonctions.ParametreActivity"></activity>
        <activity android:name=".ui.utilisateur.InscriptionActivity" />
        <activity android:name=".ui.utilisateur.ConnexionActivity" />
        <activity android:name=".ui.app.PhotoActivity" />
        <activity android:name=".ui.app.DescriptionActivity" />
        <activity android:name=".ui.app.DescriptionAPIActivity" />
        <activity android:name=".ui.fonctions.SensorActivity" />
        <activity android:name=".ui.fragment.client.ListClientActivity" />
        <activity android:name=".ui.fonctions.MapActivity" />
        <activity android:name=".ui.fonctions.HistoryActivity" />
        <activity android:name=".ui.fragment.HistoriqueInfoActivity" />
        <activity
            android:name=".ui.app.SplashActivity"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.app.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
    </application>

</manifest>